/* BIG TABLETS TO 1200PX(width smaller than 1140px row */
@media only screen and (max-width: 1200px)
{
	.title-page, .about
	{
		width: 100%;
		padding: 0 2%;
	}
	
	.row
	{
		padding: 0 2%;
	}
}

/*SMALL TABLETS TO BIG TABLETS: from 768 to 1023px*/
@media only screen and (max-width: 1023px)
{
	.row
	{
		width: 100%;
		margin-top: 1%;
	
	}

	body
	{
		font-size: 33px;
	}

	.title-page, .about
	{
		width: 90%;
	}

	.main-nav li
	{
		margin: 2px 5px;
		font-size: 110%;
	}

	.about
	{ 
		padding: 5px 5px;
		font-size: 90%;
		width: 100%;
		margin: 0 0;
	}
}

/*SMALL PHONES TO SMALL TABLETS: from 481 to 767px*/
@media only screen and (max-width: 767px)
{
	header{height: 29vh;}
	body
	{
		font-size: 30px;
		word-spacing: 1px;
	}
	.main-nav
	{
		float: right;
		margin-top: 5px;
		font-size: 87%;
	}
	.main-nav li a:link,
	.main-nav li a:visited
	{
		border: 0;
		padding: 10px 0;
	}
	
	.title-page
	{
		font-size: 175%;
		width: 87%;
	}
		
	h1
	{
		font-size: 160%;
	}

	p
	{
		font-size: 70%;
		text-align: center;
		font-family: serif;
	}
}
/*SMALL PHONES: from 0 to 480px*/
@media only screen and (max-width: 480px)
{
	header{height: 29vh;}
	body
	{
		font-size: 20px;
		word-spacing: 1px;
	}
	.main-nav
	{
		float: right;
		margin-top: 5px;
		font-size: 60%;
	}
	.main-nav li a:link,
	.main-nav li a:visited
	{
		border: 0;
		padding: 10px 0;
	}
	
	.title-page
	{
		font-size: 175%;
		width: 87%;
	}
		
	h1
	{
		font-size: 160%;
	}

	p
	{
		font-size: 60%;
		text-align: left;
		font-family: serif;
	}
}